@import "../../../vars";

.messages{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 22px;
    .from__message{
        align-items: center;
        padding: 6px 14px;
        background-color: $gray100;
        width: fit-content;
        color: #fff;
        border-radius: 50px;
        font-size: 13px;
    }

    .my__message{
        align-self: flex-end;
        background-color: $purple;
    }
}